
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
  height: 100%;
  line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("/w3images/mac.jpg");
  min-height: 100%;
}
.w3-bar .w3-button {
  padding: 16px;
}



/* for profile */

body{
  margin-top: 20px;
  background-color: lightgray;
}
.main{
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;

}
.topbar{
  background-color: teal;
  overflow: hidden;
}
.topbar a{
  float: right;
  color: whitesmoke;
  text-align: center;
  padding: 20px 26px;
  text-decoration: none;
  font-size: 26px;
}
.slidebar{
  background-color: #0f0f0f;
  color: white;
  height: 100%;
}
.slidebar a{
  margin-left: 10px;
  display: block;
  color: white;
  padding-bottom: 10px;
  font-size: 30px;
  text-decoration: none;
}
.card{
  position:relative;
  display: flex;
  flex-direction: column;
}
.content{
  background-color: whitesmoke;
}